html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Montserrat";
  background-color: whitesmoke;
  overflow-x: hidden;
}
header {
  position: relative;
  opacity: 1;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../images/home/1.jpeg");
  background-attachment: fixed;
  width: 100%;
  height: 80%;
}

.row-product {
  display: flex;
  justify-content: center;
}

.container-sort {
  width: 20%;
  margin-right: 40px;
  background: whitesmoke;
  /* Thuanfix */
  padding: 0 30px;
  left: 0px;
  top: 100px;
}

section h1 {
  font-size: 50px;
  text-align: center;
}

.header-img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

img {
  border-radius: 10px;
}

.card {
  max-width: 300px;
  margin: 15px;
}

.card > h3 {
  margin: 0;
  padding: 0;
}

.card > p {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

.price {
  color: grey;
  font-size: 20px;
}
/* Thuanfix2 */
.toggle-sort {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.toggle-sort > .fa-sort-down {
  margin-bottom: 10px;
}
.toggle-sort > .fa-sort-up {
  margin-top: 10px;
}
.container-sort > #size-sort,
.container-sort > #color-sort {
  display: block;
}
/* --- */
.list-product {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card a {
  padding: 6px 15px 6px 15px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
  text-decoration: none;
}

.card a:hover {
  background-color: white;
  color: #000;
  border: 1px solid black;
}

.card > img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

input {
  margin-bottom: 10px;
}

/* Thuanfix */
.col-product {
  width: 100%;
}

.container-sort > .icon-back {
  color: #555;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .row-product {
    flex-direction: column;
  }

  .list-product {
    margin: 0;
    padding: 0;
  }

  .col-product {
    padding: 0;
  }

  /* Thuanfix2 */
  .container-sort > #size-sort,
  .container-sort > #color-sort {
    display: none;
  }
  /* --- */
}
