
    <nav>
        <ul>
            <li class="primary-nav">
                <img src="../images/icon/icon_shop.png" alt="logo" />
                <a href="../index.html">AMEE</a>
            </li>
            <li class="secondary-nav">
                <a href="HTML/checkout.html">
                    <i class="fas fa-shopping-cart"></i> CART
                </a>
            </li>
            <li class="secondary-nav"><a href="../pages/baby.html">BABY</a></li>
            <li class="secondary-nav"><a href="../pages/women.html">WOMEN</a></li>
            <li class="secondary-nav"><a href="../pages/men.html">MEN</a></li>
            <li class="secondary-nav">
                <a href="../pages/about-us.html">ABOUT AMEE</a>
            </li>
        </ul>
    </nav>
